.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.yarnrc
webpack.config.js
eslint.config.mjs
**/tsconfig.json
**/.eslintrc.json
out/**/*.map
src/**/*.map
**/*.ts
node_modules/**
out/**
.eslintrc.json
tsconfig.json

# Include bundled binaries
!bin/**
